
#passContainer {
	position: relative;
	display: inline;
	padding: 1px;
}
#assistant-btn, .assistant-area {
	height: 20px;
	width: 20px;
}
#assistant-btn:focus {
	outline: none;
}
div.input-controll-visual {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
div.assistant-area {
	margin: 0 6px 0 0;
}
div.eui-svg-assistant {
	background: center no-repeat;
	background-size: contain;
	display: block;
	height: 100%;
	width: 100%;
}
div.eui-icon-assistant-hide {
	background-image: url("./images/oeilbarre.png");
}
div.eui-icon-assistant-show {
	background-image: url("./images/oeil.png");
}
.eui-svg::before, .eui-svg-assistant::before {
	content: " ";
}
button.transparent-btn {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
input.off-screen {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}
