{% if SHOW_PASSWORD %}
	<script>
		var credential			= '{{ ID_CREDENTIAL | escape('js') }}';
		var affiche				= '{{ lang("BZH_SHOW") | escape('js') }}';
		var cache				= '{{ lang("BZH_HIDE") | escape('js') }}';
		var password			= '{{ lang("PASSWORD") | escape('js') }}';
		var showPasswordLogin	= '{{ SHOW_PASSWORD_LOGIN | escape('js') }}';
		var showPasswordForum	= '{{ SHOW_PASSWORD_FORUM | escape('js') }}';
		var showPasswordQuick	= '{{ SHOW_PASSWORD_QUICK | escape('js') }}';
	</script>

	{% INCLUDEJS '@sylver35_showpassword/show_pass.js' %}
{% endif %}
